/*=============== CONTENEDOR ===============*/
.proyect {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 9%;
  color: var(--tittle-color);
  text-align: center;
  border-radius: 1rem;
  padding-top: 120px;
}

.heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

/*=============== CARDS ===============*/

.card-item .card-link {
  display: block;
  background-color: var(--body-color);
  padding: 18px;
  border-radius: 1rem;
  text-decoration: none;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease;
  border: 2px solid transparent;
  transition: 0.2s ease;
}
.card-item .card-link:hover {
  border-color: var(--first-color);
}

.card-item .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}
.card-item .card-link .badge {
  color: var(--body-color);
  background-color: var(--first-color);
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  width: fit-content;
  border-radius: 50px;
}

.card-item .card-link .card-title {
  font-size: 1.19rem;
  color: var(--text-color);
  font-weight: 600;
}

/*=============== BOTON ===============*/
.card-item .card-link .card-button {
  height: 35px;
  width: 35px;
  color: var(--first-color);
  background-color: none;
  border-radius: 50px;
  margin: 30px 0 5px;
  border: 2px solid var(--first-color);
  cursor: pointer;
  transition: 0.4s ease;
}

.card-item .card-link:hover .card-button {
  background-color: var(--first-color);
  color: var(--body-color);
}

/*=============== MODO RESPONSIVE ===============*/

@media (max-width: 900px) {
  .box-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
  .box-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
